/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: ".*:RECONST_QBALL" {
        ext.gfa             = true
        ext.peaks           = true
        ext.peak_indices    = true
        ext.qball           = true
        ext.nufo            = true
        ext.a_power         = true
        ext.b0_threshold    = params.b0_thr_extract_b0
        ext.sh_order        = params.sh_order
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("qball.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-coeffs_dwimap.nii.gz" }
                else if ( filename.contains("gfa.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-gfa_dwimap.nii.gz" }
                else if ( filename.contains("peaks.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-peaks_dwimap.nii.gz" }
                else if ( filename.contains("peak_indices.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-peak_indices_dwimap.nii.gz" }
                else if ( filename.contains("nufo.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-nufo_dwimap.nii.gz" }
                else if ( filename.contains("a_power.nii.gz") ) { "${meta.id}_${ses}model-qball_desc-apower_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
