/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
    withName: ".*:RECONST_NODDI" {
        ext.nb_threads = params.processes_noddi
        ext.para_diff  = params.para_diff
        ext.iso_diff   = params.iso_diff
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("ficvf.nii.gz") ) { "${meta.id}_${ses}model-noddi_param-ficvf_dwimap.nii.gz" }
                else if ( filename.contains("odi.nii.gz") ) { "${meta.id}_${ses}model-noddi_param-odi_dwimap.nii.gz" }
                else if ( filename.contains("fiso.nii.gz") ) { "${meta.id}_${ses}model-noddi_param-fiso_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:RECONST_FREEWATER" {
        ext.nb_threads      = params.processes_freewater_correction
        ext.b_thr           = params.b0_thr_extract_b0
        ext.para_diff       = params.para_diff
        ext.iso_diff        = params.iso_diff
        ext.perp_diff_min   = params.perp_diff_min
        ext.perp_diff_max   = params.perp_diff_max
        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("fw.nii.gz") ) { "${meta.id}_${ses}model-freewater_param-fw_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }

    withName: ".*:FW_CORRECTED_DTIMETRICS" {
        ext.prefix = { "${meta.id}${meta.session}${meta.run}_desc-fwc" }
        ext.ad                  = false
        ext.evecs               = false
        ext.evals               = false
        ext.fa                  = true
        ext.ga                  = false
        ext.rgb                 = false
        ext.md                  = false
        ext.mode                = false
        ext.norm                = false
        ext.rd                  = false
        ext.tensor              = false
        ext.nonphysical         = false
        ext.pulsation           = false
        ext.residual            = false
        ext.max_dti_shell_value = params.max_dti_shell_value
        ext.dti_shells          = params.dti_shells

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/dwi/" : "${params.outdir}/${meta.id}/dwi/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename ->
                def ses = meta.session ? "${meta.session}_" : ""
                if ( filename.contains("ad.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-ad_dwimap.nii.gz" }
                else if ( filename.contains("fa.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-fa_dwimap.nii.gz" }
                else if ( filename.contains("rd.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-rd_dwimap.nii.gz" }
                else if ( filename.contains("md.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-md_dwimap.nii.gz" }
                else if ( filename.contains("mode.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-mode_dwimap.nii.gz" }
                else if ( filename.contains("tensor.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-tensor_dwimap.nii.gz" }
                else if ( filename.contains("rgb.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-rgb_dwimap.nii.gz" }
                else if ( filename.contains("ga.nii.gz") ) { "${meta.id}_${ses}desc-fwc_model-tensor_param-ga_dwimap.nii.gz" }
                else if ( filename.contains("versions.yml") ) { null }
                else { params.clean_output ? null : filename }
            }
        ]
    }
}
