params {
    run_pft_tracking = false
    run_pft = false
    run_local_tracking = false
    run_tractometry = false
    run_bundle_seg = false
    sh_fitting = false

    run_qball = true
    run_noddi = true
    run_freewater = true
    run_atlas_roimetrics = true

    // Comma separated list of subjects to run (e.g. "sub-01,sub-02")
    subjects_only = ""
}
