// Specify output directories for each subject
params.out_dwi          = "dwi/"
params.out_anat         = "anat/"
params.out_masks        = "masks/"
params.out_registration = "registration/"
params.out_qc           = "qc/"
params.out_dti          = "dti/"
params.out_labels       = "labels/"
params.out_bundles      = "bundles/"
params.out_metrics      = "metrics/"

// Output derivative directories
params.der_preprocessing    = "preprocessing"
params.der_dti              = "dti"
params.der_advanced_dti     = "advanced_dti"
params.der_bundleparc       = "bundleparc"
params.der_bundle_seg       = "bundle_seg"

// Enable QC everywhere
params.run_extended_qc      = true

// Disable tracking
params.run_local_tracking   = true
params.run_pft              = true

// Enable BundleSeg
params.run_bundle_seg       = true

// Enable bundleparc
params.run_bundleparc       = true

// FIXME: Temporary workaround to provide atlas data to BUNDLESEG
// This assumes that the atlas data is available on the host machine at the specified path
// params.atlas_directory     = "/home/local/USHERBROOKE/levj1404/Documents/nf-tractoflow/atlas"
// docker.runOptions = "-u \$(id -u):\$(id -g) -v ${params.atlas_directory}:/rbx_atlas"

process {
    // Disable publishDir, before enabling for specific processes.
    withName: '!.*(IO_SAFECASTINPUTS|MULTIQC)' {
        ext.prefix = { "${meta.id}${meta.session}${meta.run}" }
        publishDir = [
            enabled: false
        ]
    }

    //////////////////////////////////////////
    // Preprocessing
    //////////////////////////////////////////
    withName: '.*:RUN:PREPROC_DWI:TOPUP_EDDY:PREPROC_EDDY' {
        publishDir = [
            path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_dwi}" },
            mode: 'copy',
            enabled: true,
            saveAs: { filename ->
                if (filename.endsWith(".bval")) {
                    return "${meta.id}${meta.session}${meta.run}_dwi.bval"
                }
                if (filename.endsWith(".bvec")) {
                    return "${meta.id}${meta.session}${meta.run}_dwi.bvec"
                }
                else {
                    return null
                }
            }
        ]
    }

    withName: '.*:RUN:PREPROC_DWI:RESAMPLE_DWI' {
        publishDir = [
            path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_dwi}" },
            mode: 'copy',
            enabled: true,
            saveAs: { filename -> filename.equals("versions.yml") ? null : "${meta.id}${meta.session}${meta.run}_dwi.nii.gz" }
        ]
    }

    withName: '.*:RUN:PREPROC_T1:IMAGE_CROPVOLUME_T1' {
        publishDir = [
            path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_anat}" },
            mode: 'copy',
            enabled: true,
            saveAs: { filename -> filename.endsWith("_t1_cropped.nii.gz") ? "${meta.id}${meta.session}${meta.run}_T1w.nii.gz" : null }
        ]
    }

    withName: '.*:RUN:T1_REGISTRATION:REGISTRATION_ANATTODWI' {
        publishDir = [
            [
                path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_anat}" },
                mode: 'copy',
                enabled: true,
                pattern: "*t1_warped.nii.gz",
                saveAs: { _filename -> "${meta.id}${meta.session}${meta.run}_space-dwi_T1w.nii.gz" }
            ],
            [
                path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_registration}" },
                mode: 'copy',
                enabled: true,
                pattern: "{*.nii.gz,*.mat}",
                saveAs: { filename ->
                    if (filename.endsWith("t1_warped.nii.gz")) {
                        return null
                    }
                    return "${meta.id}${meta.session}${meta.run}_desc-t1todwi_${filename.substring(filename.indexOf('__')+2)}"
                }
            ],
            [
                path: { "${params.outdir}/${params.der_preprocessing}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_qc}" },
                mode: 'copy',
                enabled: true,
                pattern: "*mqc.gif",
                saveAs: { _filename -> filename.replace("__", "_") }
            ]
        ]
    }

    //////////////////////////////////////////
    // Metrics
    //////////////////////////////////////////

    withName: ".*:RUN:RECONST_DTIMETRICS" {
        ext.ad                  = true
        ext.fa                  = true
        ext.ga                  = true
        ext.rgb                 = true
        ext.md                  = true
        ext.norm                = true
        ext.rd                  = true
        ext.tensor              = true
        // QC files
        ext.nonphysical         = true
        ext.pulsation           = true
        ext.residual            = true
        // Retrievable from tensor images.
        ext.evals               = false
        ext.evecs               = false
        ext.mode                = false

        publishDir = [
            [
                path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_dti}" },
                mode: 'copy',
                enabled: true,
                pattern: "*.nii.gz",
                saveAs: { filename ->
                    def new_filename = filename.replace("__warped", "")
                    def double_underscore_idx = new_filename.lastIndexOf("__")

                    // Everything that has a underscore after the double underscore should be replaced by a "-"
                    if (double_underscore_idx != -1) {
                        def prefix = new_filename.substring(0, double_underscore_idx)
                        def suffix = new_filename.substring(double_underscore_idx + 2).replaceAll("_", "-")
                        return "${prefix}_${suffix}"
                    } else {
                        return new_filename
                    }
                }
            ],
            [
                path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_qc}" },
                mode: 'copy',
                enabled: true,
                pattern: "*{mqc.png,*nonphysical.nii.gz,*pulsation.nii.gz,*residual.nii.gz}",
                saveAs: { filename ->
                    def new_filename = filename.replace("__warped", "")
                    def double_underscore_idx = new_filename.lastIndexOf("__")

                    // Everything that has a underscore after the double underscore should be replaced by a "-"
                    if (double_underscore_idx != -1) {
                        def prefix = new_filename.substring(0, double_underscore_idx)
                        def suffix = new_filename.substring(double_underscore_idx + 2).replaceAll("_", "-")
                        return "${prefix}_${suffix}"
                    } else {
                        return new_filename
                    }
                }
            ]
        ]
    }

    // Removed, as this getting the affines and warps that were used
    // to register the IIT template to subject space might not be necessary
    // to save.
    //
    // withName: ".*:RUN:REGISTER_IIT" {
    //     publishDir = [
    //         [
    //             path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/iit/warp_to_subj" },
    //             mode: 'copy',
    //             enabled: true,
    //             pattern: "*{warped.nii.gz,output0GenericAffine.mat,output1InverseAffine.mat,output1Warp.nii.gz,output0InverseWarp.nii.gz}",
    //             saveAs: { filename ->
    //                 def new_filename = filename.replace("__", "_")
    //                 return new_filename
    //             }
    //         ],
    //     ]
    // }

    // Removed, as raw bundles might not be necessary to save.
    //
    // withName: ".*:RUN:BUNDLES_IIT" {
    //     publishDir = [
    //         path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/iit/raw_bundles" },
    //         mode: 'copy',
    //         enabled: true,
    //         pattern: "*_mask.nii.gz"
    //     ]
    // }

    withName: ".*:RUN:TRANSFORM_IIT_BUNDLES" {
        publishDir = [
            path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/iit_bundle_masks" },
            mode: 'copy',
            enabled: true,
            pattern: "*_warped.nii.gz",
            saveAs: { filename ->
                def new_filename = filename.replace("__warped", "")
                def double_underscore_idx = new_filename.lastIndexOf("__")

                // Everything that has a underscore after the double underscore should be replaced by a "-"
                if (double_underscore_idx != -1) {
                    def prefix = new_filename.substring(0, double_underscore_idx)
                    def suffix = new_filename.substring(double_underscore_idx + 2).replaceAll("_", "-").replace("-mask", "")
                    return "${prefix}_space-individual_${suffix}"
                } else {
                    return new_filename
                }
            }
        ]
    }

    withName: ".*:RUN:VOLUME_ROISTATS" {
        publishDir = [
            path: { "${params.outdir}/${params.der_dti}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_metrics}" },
            mode: 'copy',
            enabled: true,
            pattern: "*{.csv,.json}"
        ]
    }

    withName: ".*:RUN:VOLUME_COLLECTSTATS" {
        publishDir = [
            path: { "${params.outdir}/${params.der_dti}" }, // TODO: This probably does not respect BIDS-like structure
            mode: 'copy',
            enabled: true,
            pattern: "*_grouped*.csv"
        ]
    }

    //////////////////////////////////////////
    // BundleSeg
    //////////////////////////////////////////
    withName: ".*:RUN:BUNDLE_SEG:REGISTRATION_ANTS" {
        ext.quick = true
    }

    withName: ".*:RUN:BUNDLE_SEG:BUNDLE_RECOGNIZE" {
        publishDir = [
            path: { "${params.outdir}/${params.der_bundle_seg}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_bundles}" },
            mode: 'copy',
            enabled: true,
            pattern: "*_cleaned.trk",
            saveAs: { filename ->
                def new_filename = filename.replace("__", "_")
                return new_filename.endsWith("_cleaned.trk") ? new_filename.replace("_cleaned", "") : new_filename
            }
        ]
    }

    //////////////////////////////////////////
    // BundleParc
    //////////////////////////////////////////
    withName: ".*:RUN:BUNDLEPARC:BUNDLE_BUNDLEPARC" {
        publishDir = [
            [
                path: { "${params.outdir}/${params.der_bundleparc}/${meta.id}/${meta.session.replaceAll('_', '')}/${params.out_labels}" },
                mode: 'copy',
                enabled: true,
                pattern: "*.nii.gz",
                saveAs: { filename ->
                    if (filename.endsWith("fodf.nii.gz")) {
                        return null
                    }
                    return filename.replace("__", "_")
                }
            ]
        ]
    }

}
